.main-header {
	margin-bottom:.5rem;

	.logo {
		width:25rem;
	}

	.icons {font-size:.9rem;}
	.tel {padding: 0.85em 1em; color:$blue; font-size:.9rem;}
	.fa-stack:hover  .fa.fa-circle { color:$gold !important; }

	.cruise-cal-button {
		font-size: 1.5em;
		padding:.3em;
		text-transform:uppercase;
		font-weight: 500;
		border-bottom:1px $gold solid;
		border-top:1px $gold solid;
		color:$blue;
	}
	
	.cruise-cal-button span {
		color:$gold;
	}

	.cruise-cal-button:hover {
		background:lighten($gold,40%);
		border-top:1px $gold solid;
		border-bottom:1px $gold solid;
	}

	.button {
		margin:0 0 1rem 0;
	}
	
}

.small-cal-button {
	display:block;
	width:100%;
	background:$secondary-color;
	color:$white;
	padding:.5em 1em;
	font-size:1em;
	text-transform: uppercase;
	margin-bottom:.5em;
	text-align:center;
	border-bottom:2px solid darken($secondary-color,10%);
	font-weight:500;

	.fa {padding-left:.5em;}

	&:hover {
		background :darken($secondary-color,10%);
		color:$white;
		font-weight: 500;
		border-bottom:2px solid $secondary-color !important;
	}

}

.header-image {width:100% !important;}

.orbit-container {height: auto !important;}



.posts-small {
	.post {
		background:#f9f9f9;
		padding:$global-padding;
		border:1px solid #e2e2e2; 
	}
}
.post-body {

	figcaption {text-align:center;padding:$global-padding .5rem;color:$white;background:$blue;}

.align_left,  {
	float:left;
	border: solid 4px #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow 200ms ease-out;
    border-radius: 0;
    margin: .5rem 1rem 1rem 0.1rem;
}

.align_right {
	float:right;
	border: solid 4px #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow 200ms ease-out;
    border-radius: 0;
    margin: .5rem 0.1rem 1rem 1rem;
}

	overflow:auto;
}

h1 {color : $blue; }
.red {color:$blue;}

.top-bar .active {background:$gold;}

.orbit-bullets
{
	background:#e8e5d8;
	margin-top:0;
	padding:.5rem;
}

.orbit-caption {
	bottom:auto;
	top:2rem;
	left:0;
}

.orbit-next {
	background:none;
	margin-right:1rem;
}

.orbit-next:hover, .orbit-previous:hover {
	background:none;
	color:$blue;
}


.orbit-previous{
	background:none;
	margin-left:1rem;
}

.orbit-slide {
	img {width:100%;}
}


.se-container{
	width: 100%;
	overflow: hidden;
}

.angle:after,
.angle:before,
{
	content: '';
	width: 0px;
	height: 0px;
	top: 0px;
	position: absolute;
}

.angle{
	z-index: 10;
	position: relative;
	max-width:100%;
	display: inline-block;
	padding: $global-padding 2em $global-padding 3.5em;
	background: rgba(26, 57, 135, 0.6);

	h2 {font-size:3rem;line-height:3rem;}
	h2.white {font-weight:300;}
}

 .angle:after{
	border-bottom: 170px solid transparent;
	border-left: 80px solid rgba(26, 57, 135, 0.6);
	right: -80px;
}

.reviews-section {
	background: $light-gold;
	margin:1rem 0;
	padding:2rem 0;
	color:$gold;
	text-align: center;

.quote p {
	font-family:$font-family-serif; font-size: 1.1rem; font-weight:300;
}
.author {
	font-family:$font-family-serif;font-size:1em;
}

}

.tabpad {
	padding:$global-padding;}

.inputre{
	width:auto;
	float:left;
}

.bookings {
	input, select {background:#fff;}
	input:focus {background:#edf3eb; color:#000;}

}
.months {padding:.3rem 1rem;}

.order-summary {background:#fafbfa; border:1px solid $gold; padding:$global-padding; margin-bottom:1rem;
	h3 {color:$blue;}
	.amount {
		border-top: 1px solid $blue;
		font-size: 1.2rem;
		margin-top:$global-margin;
		padding-top:$global-margin;
	}

}

.clear-float {
	clear: both;
}
.stripe {color:#55be30;}
.alert-box {
	@include callout-base;

	}
	.success{
		@include callout-style($success-color);
	}	
		.alert{
		@include callout-style($warning-color);
	}	
	
.contact-info {
	background:lighten($gold, 40%);
	border:1px solid $gold;
	padding:$global-padding;
	margin-bottom:$global-margin;

	.address {margin-bottom:$global-margin;}	

	h4 {
		border-bottom:1px solid $gold;
		padding-bottom:.3rem;
		color:$blue;}
}

.align_center {
	@include thumbnail;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

// News Blog

.post {
	
	clear:both;
	overflow:auto;
	border-bottom:3px solid $gold;
	padding-bottom:2rem;
	margin-bottom:2rem;

	a.more {font-weight:700;}

	.post-headline a {
		margin-bottom:$global-margin;
		font-family:$font-family-serif;
		font-weight: 500;
	}

	.post-byline {
		text-align: center;
		font-family:$font-family-serif;
		color: $gold;
		font-size: 1.2rem;
		border-top: 1px solid #e6e7e8;
		border-bottom: 1px solid #e6e7e8;
		margin-bottom: 2rem;

	}

	.post-foot {
		border:1px solid #e6e7e8;
		background:#fafafa;
		padding:$global-padding;
	}

	.post-featured-image {float:left;margin:0 $global-padding $global-padding .1rem;}

}
	.next-post {
		text-align: right;
	}

#recent-posts {

	h4 {
		border-bottom:3px solid #e6e7e8;
	}
		
	.recent-posts {
		list-style: none;
		margin:0;
	li {
		margin-bottom: $global-margin;
		border-bottom: 1px solid $gold;
		padding-bottom:1rem;
	 a {
		font-family:$font-family-serif;
		font-size: 1.2rem;}
	 a:hover {color:lighten($blue, 20%)}

	
	 span {color:$gold;}
	}}
	.button {width:100%;}
}

 

.MarkupPagerNav {
	text-align: center;
	border-bottom:1px solid $gold;
	padding-bottom:1rem;
	@include pagination-container;

	.MarkupPagerNavOn {
	@include pagination-item-current;
	span {color:#fff !important;}
}

	.MarkupPagerNavPrevious span::before {
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;

	}

		.MarkupPagerNavNext span::after {
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;

	}
}


// Main Body Section and Sidebar
.main-content {
	margin-top:2rem;
    @include grid-row;

    main {
        @include grid-column(12);
        p a {font-weight:700;}
        p a:hover {color:#208dc5;}
    }

    .main-sidebar {
    	@include grid-column(12);
	.spacer {height:.3rem;}
    }
}

.main-content {
  // Only affects medium screens and larger
  @include breakpoint(medium) {
      main {
        @include grid-column(8);
    }

    .main-sidebar {
    	@include grid-column(4);
    }
  }
}

// Cruises
.cta-section {
	background: $mid-gray;
	text-align: center;
	padding:1rem 0;
	margin:1rem 0;
    article {
    	img {margin-bottom:1rem;}
        @include grid-column(12);
        margin:1rem 0;
    }
    .bg {background:#fff;
    	border:2px solid #fff;
padding:$global-padding;}
.bg:hover {background: $light-gold}
}

.cta-section {
  // Only affects medium screens and larger
  @include breakpoint(medium) {
      article {
        @include grid-column(4);



    }
  }
}

.title-blog {
	font-size:2.5em;
	border-bottom:3px solid $mid-gray;
}


// Accomodation

.accommodation .media-object {
	background:lighten($gold,40%);
	padding:$global-padding;
	border:1px solid $gold;
	h4 {
		border-bottom:1px solid #cecece;
	small {color:$gold;}
}
	span.button {cursor:auto;background:#dd8f30;}

	.special {
		background:lighten($gold,30%);
		width:100%;
		padding:$global-padding;
		border:1px solid $gold;

		p {margin-bottom:0;}
	}

}

// Map

#map {width:100%; height:50rem;}

//payment 
.booking_from {
	h4 {margin-top:1.5rem;}

}
.cart-box, .booking-box {
	border:1px solid $gold;
	background: #fafafa;
	padding-top:$global-padding;
	margin-bottom:$global-margin;
	.error {color:red;}
}

.cart-box {
	background:lighten($gold,37%);
}

.paytoday {font-size:1.2rem;margin-top:$global-margin;border-bottom:1px solid $gold;}

// Sidebar Buttons          

.side-button {
@include button(true,$gold,darken($gold,20%));
	text-transform: uppercase;
	position: relative;
	text-align: left;
	font-weight: 500;
	margin:0 0 .2rem 0;
	font-size: 1rem;
	padding: 0.85em 3.5em 0.85em 1em;
}
.image-widget img {margin:.3em 0;}

.side-button img {
	position:absolute; right:.5rem; top:0; bottom:0;
	margin: auto;
}

.boat, .book, .fish, .folder, .food, 
.forward, .glasses, .pencil, .star, .wheel
{ max-width: 100%; background-size: 100%; background-image: url('../img/icons.png'); }
 
.boat { background-position: 0 0%; background-size: 100%; }
.book { background-position: 0 11.111111%; background-size: 100%; }
.fish { background-position: 0 22.222222%; background-size: 100%; }
.folder { background-position: 0 33.333333%; background-size: 100%; }
.food { background-position: 0 44.444444%; background-size: 100%; }
.forward { background-position: 0 55.555556%; background-size: 100%; }
.glasses { background-position: 0 66.666667%; background-size: 100%; }
.pencil { background-position: 0 77.777778%; background-size: 100%; }
.star { background-position: 0 88.888889%; background-size: 100%; }
.wheel { background-position: 0 100%; background-size: 100%; }
.title {border-bottom:$border-bottom; margin-bottom:.8rem; padding-bottom:.4rem;
}

.large-serif {
	font-family : $font-family-serif;
	font-size:1.1rem;
}

.main-footer {
background : $gold;
color: $white;
padding: 2em 0;
		ul {
			margin:0;
			margin-bottom:3rem;
			padding:0;

		
		li{
			list-style: none;
			float:left;

			a{
				color:#fff;
				text-transform: uppercase;
				padding:0 1rem ;
				line-height:1em;
				border-right: 1px solid $white;
				margin:.6em 0;
				display: block;
			}
			a:hover{
				text-decoration: underline
			}
		}
	}
}

.cruise-list {
	text-align: center;
	p {
		padding-left:$global-margin;
		padding-right:$global-margin;
		margin-top: $global-margin;
		font-family: $font-family-serif;
		color:#a6a6a8;
	}
	.nights {
		text-transform: uppercase;
		font-family: $body-font-family;
		color: $gold;
		
		font-weight:700;
	}
	.bg {
		border-bottom:$border-bottom;
		margin-bottom: 1.5rem;
	}

		.bg:hover {
		background:lighten($gold,33%);
		border-bottom:3px solid $gold;
	}
	
}

.image-container {overflow:hidden;}
.img { transition: all .2s ease-in-out; }
.img:hover { transform: scale(1.1); }

.reviews article {
	h3 {
		color:$blue;
		margin-bottom: 0;
	}
	.review-date {
		font-size:1.2rem;
		font-weight: 500;
		color: darken($mid-gray,10%);
		margin-bottom:0;
	}
	.review-guest {
		font-size:1.2rem;
		font-weight: 500;
		color: $gold;
		margin-top:0;
	}
}

.small-header {
	position: relative;
.small-holder {
		width:100%;
		position: absolute;
		bottom: 10%;
	}
	h1 {color:#ffffff;}
}

.sub-info {
	border-bottom:$border-bottom;
	margin-bottom:$global-margin;
	padding-bottom:$global-padding;
	h1 {margin-bottom:0;}
	p {
		font-size:1.2rem;
		margin-bottom: 0;
	}
}

.cruise-images {
	border-bottom: $border-bottom;
	border-top: $border-bottom;
	padding-bottom:$global-padding;
	padding-top:$global-padding;
	margin-bottom:$global-margin;
	margin-top:$global-margin;

	h4 {
		text-align: center;
		text-transform: uppercase;
	}
	p{
		text-transform: uppercase;
		text-align: center;
		margin-top:2em;
	}
	a {
		padding:$global-padding;
		border:2px solid $mid-gray;
		color:$grey;}

	a:hover {
		border:2px solid $gold;
	}

	.thumbnails {
		padding-left:0;
	}

	img {
		margin-bottom:0;
	}
	
}
.tabs {
	border:none;
	border-bottom:1px solid $gold;
}


	#stop-overs { 

	ul li {
		margin-bottom: $global-margin;
	}
}

.tabs-title {
	text-transform: uppercase;
	font-weight:500;
	border-left:2px solid $gold;
	border-right:2px solid $gold;
	border-top:2px solid $gold;
	margin-right:.2em;
	a {
		font-size:1rem;
	}
}

.tabs-title a:hover {
	background:darken($pale-gold, 20%);
	color:#ffffff;
}

.tabs-panel {
	 h2 {
    	color: $blue;
    	border-bottom:1px solid $gold;
    	padding-bottom:.6rem;
    	margin-bottom:.8rem;
    }
}


ul.cruise-sidebar {margin-top:$global-margin; margin-top:$global-margin;
	li {
		border-bottom:1px solid $gold;
		
		a {
			text-transform: uppercase;
			color: $gold;
			font-weight:500;
			line-height: 1.6rem;
		

		}

		a:hover {
			background:darken($pale-gold, 20%);
			color:#ffffff;
		}


	}

	li.parent a {background:$gold;color:#fff;}
	li.active {background:$pale-gold;}
}

ul.child-sub {margin-top:$global-margin;
	li {
		
		margin-bottom:.2rem;
		a {
			text-transform: uppercase;
			color: $white;
			background: #5171a2;
			font-weight:500;
			line-height: 1.6rem;
			border-bottom:2px solid #446294;
		

		}

		a:hover {
			background:#2b538e;
			color:#ffffff;
			border-bottom:2px solid #244881;
		}

		a.active {background:darken(#5171a2,20%);}

	ul {
		
		li {
			margin:.2rem 0;
		a {
			background:lighten(#5171a2,10%);
			font-weight:500;
			line-height: 1.3rem;
			padding-left:2rem;
			border-bottom:2px solid #5171a2;
		

		}
		a.active {background:darken(#5171a2,10%);;
		}

	}
}
	
	}
	a.active:hover {
			background:#2b538e;
			color:#ffffff;
			border-bottom:2px solid #244881;
		}
}




.search-page {
	background:#e6ebf2;
	padding-top:$global-padding;
	padding-bottom:3em;
	

	.results {
		text-align: center;
		font-family: $font-family-serif;
		font-size:1.2rem;
		color: $blue;
	}
	
	#search_form {
		border:solid 2px $blue;
		padding:2rem;
		background : $white;
		margin-bottom:$global-margin;

		label {
			font-family: $font-family-serif;
			font-size:1.3em;
			color:$blue;
		}
		.secondary {
			text-transform: uppercase;
			margin-top:1.9em;
			font-size: 1.1em;
			padding:.77em 1em;
		}
	}

	h4.leaving {
			background:#06357a;
			border:2px solid #06357a;
			color:#fff;
			font-family: $header-font-family;
			font-size:1.4em;
			padding:.5em .3em;
			margin:0;

		}
	table {
		width:100%;
		border:2px solid #385d95;

		
		th {
			background-color:#385d95;
			border:2px solid #385d95;
			color:#fff;
			text-align: left;
		}
		tr {
			background:#f1f0e8;
			position: relative;
			border-bottom:1px solid $gold;
		}

		tr:nth-child(even) {background: #f8f7f1;}

	}
	td {font-weight: 500;}
	td.fullybooked {
		text-transform: uppercase;
		font-weight: 500;
		color: $gold;
	}
	td.booknow a {
		text-transform: uppercase;
		background:#8fc73f;
		color:#fff;
		font-weight: 500;
		padding:.5em 1em;
		&:hover {
			background:#709f2c;
		}
	}

}

.singleav {
		table {
		width:100%;
		border:1px solid #385d95;
		
		th {
			background-color:#385d95;
			border:2px solid #385d95;
			color:#fff;
			text-align: left;
		}
		tr {
			background:#f1f0e8;
			position: relative;
			border-bottom:1px solid $gold;
		}

		tr:nth-child(even) {background: #f8f7f1;}

	}
	td {font-weight: 500;}
	td.fullybooked {
		text-transform: uppercase;
		font-weight: 500;
		color: $gold;
	}
	td.booknow a {
		text-transform: uppercase;
		background:#8fc73f;
		color:#fff;
		font-weight: 500;
		padding:.5em 1em;
		&:hover {
			background:#709f2c;
		}
	}


}

.FormBuilder {
	background:#fafafa;
	padding:$global-padding;
	border:1px solid $gold;
	input {background:#fff;}
	textarea {background:#fff;}
	legend {font-family:$font-family-serif; color:$gold; font-size:1.5rem;} 

	.Inputfield_contact_information  {border-bottom:1px solid $gold;}
}
#main-menu {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;

li {
    display:inline-block;
}}

.availability {
		padding:1.5rem 0 0 0;

		.depart {
		background:$gold;
		color:#fff;
		padding:.5rem $global-padding;
		}

		.header {
			background:$blue;
			color:#fff;
			margin:0;
			padding:.5em $global-padding;
			font-family: $font-family-serif;
			font-weight: 500;
			font-size:1.2em;
			display:block;
			overflow: auto;
			.year {float:right;margin:0;background:lighten($blue, 10%)}
			p {float:left;margin:.4rem 0 0 0;}
		}
		table {
			width:100%;
			th {
				background:$gold;
				text-align:left;
				color:#fff;
				border:1px solid $gold;
			}
			tr{
				background:$pale-gold;
				border-bottom: 1px solid $gold;
			}
			td.fullybooked span, td a.book-now  {
				text-transform: uppercase;
				font-weight: 500;
				padding:.5em;
				width:100%;
				background:#fff;
				display:block;
				text-align: center;
				color: $gold;
			}
			td a.book-now  {
				background:$gold;
				color: #fff;

					&:hover {
						background:darken($gold, 20%);
					}
			}
		}
}

.align_right {float:right; margin-bottom:1em; margin-left:1em;}
#image-gallery {

h3 {padding:1rem 0.9375rem;}
}

select  {
  border: solid 2px #dad6c1;
  font-weight: 500;
  background: url(../img/select.png) no-repeat right;
  background-color: #f1f0e8;
  padding:5px 5px 5px 5px;
  height: 3em;
  background-clip: content-box;
  line-height: 1.5;
  text-indent: 0.5rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

&:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

 select:active, select:hover {
  outline-color: $gold;
  border: solid 2px $gold;
}

table.scroll {overflow-y:hidden;}

@media only screen and #{breakpoint(xlarge)} {
	

}

@media only screen and (min-width:1000px){
	
}
@media only screen and #{breakpoint(large)} 

{
	html, body {font-size:16px;}
	.search-page table.scroll, .singleav table.scroll, .availability table.scroll {display:table;}
}


@media only screen and #{breakpoint(medium down)} 

{
	html, body {font-size:14px;}
	
	.orbit-previous, .orbit-next {top:60%; font-size:.5rem;}
	.angle  {
		padding-left:2rem;
	h2 {font-size:2rem;line-height:2rem;}}

}

@media only screen and (max-width:430px) {
	.tabs-title > a {padding:.8rem .5rem;font-size:12px;}
} 



@media only screen and #{breakpoint(small down)} 

{
	html, body {font-size:13px;}

	.title-bar {padding:.5rem 1rem;

		.fa {color:#fff;}
		.fa-inverse {color:$blue;}
		.fa:hover {color:$gold;}
		.menu-icon {margin-top:.7rem;}
		.menu-icon:hover {color:$gold;}
		.title-bar-title {margin-left:2rem;margin-top:.3rem;}
	}
	.main-header .logo {width:18rem; margin:0 auto 0 auto; display:block;}
	.fa .fa-circle .fa-stack-2x:hover {color:$gold;}
	#main-menu {
		ul {margin-bottom: 2rem; text-align:left;}
		li {width:100%; border-bottom:1px solid $gold;
			a {text-transform:capitalize;}
		}
	}
	.orbit-caption {
		display:none;
	}
 .orbit-previous, .orbit-next {top:50%;}

	.angle h2 {font-size:1.4rem;line-height:1.4rem;}

	.small-holder{ bottom:0;
	h1 {line-height:1;}
	}
	
	.main-footer {
		ul {
			margin:0;
			margin-bottom:3rem;
			padding:0;

		
		li{
			list-style: none;
			float:none;

			a{
				color:#fff;
				text-transform: uppercase;
				padding:0;
				line-height:2em;
				border-bottom: 1px solid darken($gold, 10%);
				padding-left:1rem;
			
				border-right:0;
				margin:0;
				display: block;
			}
			a:hover{
				text-decoration:none;
				background:darken($gold, 20%);
}
		}
	}
}


}



.blue {color:$blue;}
.gold {color:$gold;}
.white {color:$white;}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before,
  .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
.sticky {width:98.5% !important; margin:0;padding:0;}
.admin {width:100%;
	background:#1C2836;
		color:#fff;
 		padding:0 1rem 0 0;
 margin:0;
  img { width:110px;margin-right:1rem;padding:.5rem 1rem;border-right:1px solid #41546a;}
	p {margin:0;}
	.float-right {margin-top:.2rem;}
		a {color:#fff;font-size:.8rem; margin:.3rem;}
		a:hover {color:#6addee;}
}
